<!-- https://www.metaltoad.com/blog/angular-5-making-api-calls-httpclient-service -->

<h2>Clothes</h2>

<p>This is an example of loading data. The API call is read-only.</p>

<ul>
  <li *ngFor="let product of products">
    
    <div>
      <table>
        <tr>
          <td class="thumbnail"><img src="assets/images/jacket.jpeg" height="200" /></td>
          <td><strong>{{product.name}}</strong></td>
        </tr>
      </table>    
    </div>
  
  </li>
</ul>

<button class="alert alert-success">Test</button>

<!-- <ul>
    <li *ngFor="let food of foods">{{food.name}}</li>
    <li *ngFor="let food of foods"><input type="text" name="food-name" [(ngModel)]="food.name">
      <button (click)="updateFood(food)">Save</button>
      <button (click)="deleteFood(food)">Delete</button>
    </li>
</ul> -->